<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <p>Hello {{ user.get_full_name|default:user.username }},</p>
                <p>We received a request to reset your password. Follow the link below to create a new
                    password:</p>
                <p><a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
                        class="btn btn-primary">Reset Password</a></p>
                <p>If you did not request a password reset, please ignore this email, and your password will remain
                    unchanged.</p>

                <p>Thank you,<br> Blogee Team</p>
            </div>
        </div>
    </div>
</body>

</html>