{% extends 'no_sidebar_base.html' %}


{% block content %}
<div class="display-4">{{ heading }}</div>
<form method="post" class="w-50 mt-5">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_name" class="form-label">Name</label>
        <input type="text" name="name" maxlength="255" value="{{ form.name.value|default_if_none:'' }}"
            class="form-control {% if form.name.errors %} is-invalid {% endif %}" id="id_name">
        {% if form.name.errors %}
        <div class="invalid-feedback">
            {% for error in form.name.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="id_street" class="form-label">Street</label>
        <input type="text" name="street" maxlength="255"
            class="form-control {% if form.street.errors %} is-invalid {% endif %}" id="id_street"
            value="{{ form.street.value|default_if_none:'' }}">
        {% if form.street.errors %}
        <div class="invalid-feedback">
            {% for error in form.street.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>



    <div class="row mb-3">
        <div class="col-sm">
            <label for="id_city" class="form-label">City</label>
            <input type="text" name="city" maxlength="100"
                class="form-control {% if form.city.errors %} is-invalid {% endif %}" id="id_city"
                value="{{ form.city.value|default_if_none:'' }}">
            {% if form.city.errors %}
            <div class="invalid-feedback">
                {% for error in form.city.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="col-sm">
            <label for="id_state" class="form-label">State</label>
            <input type="text" name="state" maxlength="100"
                class="form-control {% if form.state.errors %} is-invalid {% endif %}" id="id_state"
                value="{{ form.state.value|default_if_none:'' }}">
            {% if form.state.errors %}
            <div class="invalid-feedback">
                {% for error in form.state.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>




    <div class="row mb-3">
        <div class="col-sm">
            <label for="id_postal_code" class="form-label">Postal code</label>
            <input type="text" name="postal_code" maxlength="20"
                class="form-control {% if form.postal_code.errors %} is-invalid {% endif %}" id="id_postal_code"
                value="{{ form.postal_code.value|default_if_none:'' }}">
            {% if form.postal_code.errors %}
            <div class="invalid-feedback">
                {% for error in form.postal_code.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="col-sm">
            <label for="id_country" class="form-label">Country</label>
            <input type="text" name="country" maxlength="100"
                class="form-control {% if form.country.errors %} is-invalid {% endif %}" id="id_country"
                value="{{ form.country.value|default_if_none:'' }}">
            {% if form.country.errors %}
            <div class="invalid-feedback">
                {% for error in form.country.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>



    <div class="row mb-3">
        <div class="col-sm">
            <label for="id_address_type" class="form-label">Address type</label>
            <select name="address_type" class="form-select {% if form.address_type.errors %} is-invalid {% endif %}"
                id="id_address_type">

                {% for value, label in form.address_type.field.choices %}
                {% if form.address_type.value == value %}
                <option value="{{ value }}" selected>{{ label }}</option>
                {% else %}
                <option value="{{ value }}">{{ label }}</option>
                {% endif %}
                {% endfor %}
            </select>
            {% if form.address_type.errors %}
            <div class="invalid-feedback">
                {% for error in form.address_type.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="col-sm">
            <label for="id_mobile" class="form-label">Mobile</label>
            <input type="number" name="mobile" class="form-control {% if form.mobile.errors %} is-invalid {% endif %}"
                id="id_mobile" value="{{ form.mobile.value|default_if_none:'' }}">
            {% if form.mobile.errors %}
            <div class="invalid-feedback">
                {% for error in form.mobile.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}